$primary-color: #f4faff;
$secondary-color: #4489C7;
$tertiary-color: #fb9b00;
$primary-text-color: #1D4E7A;
$font-stack: 'IBM Plex Sans', sans-serif;

* {
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: $font-stack;
}

.inactive {
    display: none;
}

    .navbar {
        display: grid;
        background-color: $primary-text-color;
        width: 100%;
        height: 150px;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        box-shadow: 0 3em 3em rgba(0,0,0,0.1);
    }

        .navbar-container {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            width: 80vw;
            height: 100px;
            align-content: center;
        }

            .left-navbar {
                display: grid;
                align-content: center;
            }

                .navbar .navbar-container .left-navbar .logo-container {
                    height: 80px;
                    margin: 0;
                }

                    .logo {
                        width: auto;
                        height: 80px;
                    }
                
            .middle-navbar {
                display: grid;
                place-content: center;
            }

            .desktop-menu {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                font-size: large;
                gap: 100px
            }

            .container-quienes-somos {
                position: relative;
                color: $primary-color;
                text-align: center;
            }

            .quienes-somos-Btn,
            .que-hacemos-Btn, 
            .servicios-Btn {
                cursor: pointer;
            }

            .menu-quienes-somos, 
            .menu-que-hacemos {
                position: absolute;
                background-color: #1D4E7A;
                width: 120%;
                left: -10%;
                border-radius: 4px;
            }

            .menu-quienes-somos ul, 
            .menu-que-hacemos ul {
                display: grid;
                list-style: none;
                width: 100%;
                border-radius: 4px;
                margin-top: 40px;
                gap: 20px;
                padding: 30px 0 0 0;
            }

            .menu-quienes-somos ul li, 
            .menu-que-hacemos ul li{
                cursor: pointer;
            }

            .container-que-hacemos {
                position: relative;
                color: $primary-color;
                text-align: center;
            }

            .container-servicios {
                color: $primary-color;
            }

            .right-navbar {
                display: flex;
                width: auto;
                height: 100px;
                place-content: end;
            }

                .right-navbar .redes-sociales {
                    display: flex;
                    height: 100px;
                    width: auto;
                    align-items: center;
                    justify-content: end;
                    gap: 20px;
                }

                    .redes-sociales a img {
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                    }

    .main-section {
        display: grid;
        background-color:#e4f1fd;
    }

// quienes somos

        .quienes-somos {
            display: grid;
            grid-template-columns: 1fr auto;
            background-color: $primary-color;
            height: auto;
            width: 90vw;
            height: 100vh;
            justify-self: end;
            margin-top: 100px;
        }

            .quienes-somos-text{
                display: grid;
                place-content: center;
                margin: 0 5vw;
            }

                .quienes-somos-text h2 {
                    color: $primary-text-color;
                    font-size: 70px;
                    margin-top: 0;
                }

                .quienes-somos-text ul {
                    color: $primary-text-color;
                    font-size: x-large;
                    justify-self: start;
                    list-style:circle;
                    list-style-position:inside;
                    margin: 0;
                    text-align:justify;
                }

                .quienes-somos-text ul li {
                    margin: 20px 0 0 0;
                }

            .img-quienes-somos {
                display: flex;
                margin: 0;
                width: auto;
                justify-content: end;
            }

                .img-quienes-somos img {
                    width: 30vw;
                    height: 100%;
                    object-fit: cover;
                }


// Sección 1

        .section-1 {
            display: grid;
            grid-template-columns: 1fr auto;
            background-color: $primary-color;
            height: auto;
            width: 90vw;
            height: 100vh;
            justify-self: end;
        }

            .section-1-text{
                display: grid;
                place-content: center;
                margin: 0 5vw 0 5vw;
                text-align: justify;
            }

                .section-1-text h2 {
                    color: $primary-text-color;
                    font-size: 70px;
                    margin-top: 0;
                }

                .section-1-text ul {
                    color: $primary-text-color;
                    font-size: x-large;
                    justify-self: start;
                    list-style:circle;
                    list-style-position:inside;
                    margin: 0;
                }

                .section-1-text ul li {
                    margin: 20px 0 0 0;
                }

            .img-section-1 {
                display: flex;
                margin: 0;
                width: auto;
                justify-content: end;
            }

                .img-section-1 img {
                    width: 30vw;
                    height: 100%;
                    object-fit: cover;
                }

// como lo hacemos

        .como-lo-hacemos {
            display: grid;
            grid-template-columns: auto 1fr;
            background-color: $primary-text-color;
            height: auto;
            width: 90vw;
            height: 100vh;
            justify-self: start;
        }

            .como-lo-hacemos-text{
                display: grid;
                margin: 100px 5vw 100px 5vw;
                align-content: center;
            }

                .como-lo-hacemos-text h2 {
                    display: inline-flex;
                    color: $primary-color;
                    font-size: 70px;
                    margin-top: 0;
                }

                .como-lo-hacemos-text ul {
                    margin: 0;
                }

                .como-lo-hacemos-text ul li {
                    color: $primary-color;
                    font-size:x-large;
                    line-height: 40px;
                    margin: 20px 0 0 0;
                    text-align: justify;
                    list-style-type: circle;
                    list-style-position: inside;
                    }

            .img-como-lo-hacemos{
                display: flex;
                margin: 0;
                width: auto;
                justify-content: end;
            }

                .img-como-lo-hacemos img {
                    width: 30vw;
                    height: 100%;
                    object-fit: cover;
                }
        

// sección "servicios"

        .servicios {
            display: grid;
            background-color: $primary-color;
            text-align: center;
        }

            .servicios h2 {
                color: $primary-text-color;
                font-size: 70px;
                margin: 100px 0 60px 0;
            }

            .servicios-cards-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            .servicios-cards-container div {
                display: grid;
                align-items: center;
                text-align: center;
            }
            
            .servicios-cards-container div div {
                display: grid;
                text-align: center;
                place-content: center;
            }

            .servicios-cards-container div div h3 {
                display: inline-block;
                color: $primary-text-color;
                font-size: x-large;
                height: 100px;
                margin: 0 0 5px 0;
            }
            .servicios-cards-container div figure{
                position: relative;
                margin: 0;
                align-items: center;
                transition: 0.5s;
            }
            
            .servicios-cards-container div figure:hover{
                scale: 1.1;
                z-index: 10;
            }
            
            
            .texto-encima {
                position: absolute;
                width: 100%;
                height: 100%;
                color: transparent;
                font-size: auto;
                font-weight: 700;
                top: 0;
                transition: 0.5s;
                padding: 40px;
                box-sizing: border-box;
                text-align: justify;
            }
            
            .texto-encima:hover {
                color: black;
                background-color: #f4faffe0;
            }

            .container-img-card-1 img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }

            .container-img-card-2 img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            
            .container-img-card-3 img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            
            .container-img-card-4 img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }

// sección "¿Qué significa SISU"

        .main-section .section-3 {
            display: grid;
            grid-template-columns: auto 1fr;
            background-color: $primary-text-color;
            height: auto;
            width: 90%;
            height: 100vh;
            }
            
            .section-3 figure {
                padding: 0;
                margin: 0;
            }

            .section-3 figure img {
                height: 100%;
                width: 30vw;
                object-position: 50%;
                object-fit: cover;
            }

            .section-3-text {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                justify-content: space-between;
                margin: 0 5vw 70px;

            }

            .section-3-text h2 {
                color: $primary-color;
                align-self: center;
                font-size: 70px;
            }

            .section-3-text p {
                color: $primary-color;
                font-size:x-large;
                line-height: 40px;
                margin: 0;
                text-align: justify;
            }


.footer {
    display: none;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 1px 3em rgba(0,0,0,0.1);
    background-color: $primary-text-color;
    width: 100%;
    height: 200px;
    bottom: 0;
    box-shadow: inset 0 -5em 3em rgba(0,0,0,0.1);
    color: $primary-color;
    place-content: center;
}


// responsive

@media (max-width: 1100px) {

    .middle-navbar {
        display: none;
    }
    
    #right-navbar-mobile {
        position: fixed;
        height: 70px;
        bottom: 10px;
        right: 0;
        background-color: #1D4E7A;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 200px;
        box-shadow: 0 0 15px -3px rgba(0,0,0,0.5);
    }


    #redes-sociales-mobile {
        justify-content: center;
    }

    nav, .navbar-container, .left-navbar, .logo-container{
        display: grid;
        width: 100vw;
        place-content: center;
    }

    .section-1, .como-lo-hacemos, .quienes-somos, .servicios {
        width: 100vw;
    }

    .section-3 {
        width: 100vw !important;
    }
}

@media (max-width: 800px) {
    
}